<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="./userLogin">User</a>
    <a href="./hospitalLogin">Hospital</a>
  </body>
</html>