<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    
    <form method="POST" action="/login">
        <label for="aadhar">Enter the Aadhar Number:</label>
        <input type="text" id="Aadhar" name="Aadhar">
        <br>
      <input type="submit" value="Log In">
    
    </form>
    <a href="./support">contact support.</a>
  </body>
</html>
