<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    
    <form method="POST" action="/userLogin">
        <label for="aadhar">Enter the aadhar Number:</label>
        <input type="text" id="aadhar" name="aadhar">
 
         <input type="submit" value="Log In">
    
       </form>
  </body>
</html>
