<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Event</title>
  </head>
  <body>
    <h1>Welcome to username</h1>
    <a href="./userHealthReords">Health Card</a>
    <a href="./userProfle">profile</a>
  </body>
</html>